@import "./mixins.css";
@import "./variables.css";
@import "./components/button.css";

.container {
  background-color: var(--main-bg-color);
  padding: 20px;

  @mixin tablet {
    padding: 40px;
  }
  .box {
    width: 200px;
    height: 200px;
    background-color: var(--box-bg-color);
  }
}
.text {
  font-size: 16px;

  @mixin tablet {
    font-size: 18px;
  }

  @mixin desktop {
    font-size: 24px;
  }
}
